.col-md-6
  .btn-group
    button(onclick="socket.emit('playPress', {status: player.getPlayerState()})").btn.btn-default
      span.glyphicon.glyphicon-play

    button(onclick="socket.emit('pausePress',{status:player.getPlayerState()})").btn.btn-default
      span.glyphicon.glyphicon-pause

    button(onclick="socket.emit('syncPress', {sec: player.getCurrentTime(), status: player.getPlayerState()})").btn.btn-default
      span.glyphicon.glyphicon-refresh

    button(onclick="socket.emit('resetPress', {status: player.getPlayerState()})").btn.btn-default
      span.glyphicon.glyphicon-repeat

    button(onclick="socket.emit('newVideoId', {id:currentVideo})").btn.btn-default
      span.glyphicon.glyphicon-upload

    button(onclick="toggleView()").btn.btn-default
      span.glyphicon.glyphicon-resize-full#resizeicon

script.
  var btn_status = 0;
  function toggleView() {
    if (btn_status === 0) {
      $('#playercontainer').removeClass('col-md-7 col-md-12').addClass('col-md-12');
      $('#resizeicon').attr('class', 'glyphicon glyphicon-resize-small');
      btn_status = 1;
    } else {
      $('#playercontainer').removeClass('col-md-7 col-md-12').addClass('col-md-7');
      $('#resizeicon').attr('class', 'glyphicon glyphicon-resize-full');
      btn_status = 0;
    }
  }

.col-md-6
  form(action="").form-inline
    .form-group
      .input-group
        input(
          id="m"
          autocomplete="off"
          onFocus="this.select()"
        ).form-control
        .input-group-btn
          button(type="submit").btn.btn-default.form-control.
            Send
          button(
            type="button"
            onclick="$('#m').val(currentVideo)"
          ).btn.btn-default
            span.glyphicon.glyphicon-download

script(src="http://code.jquery.com/jquery-1.11.1.js")
script.
  $('form').submit(function(){
    socket.emit('newVideoId', {id: $('#m').val()});
    return false;
  });
